<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" href="CHPLogo.png" height="102" width="102"/>
    <title>CHP Admin User Management</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendors/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendors/startbootstrap-sb-admin-gh-pages/vendor/fontawesome-free/css/all.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendors/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendors/startbootstrap-sb-admin-gh-pages/css/sb-admin.css') }}" /> 
	<!--Our defined JS functions-->
	<script type="text/javascript" src="{{ url_for('static',filename='JS/functions.js') }}"></script>

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

	  <script>
		let deleteUID = -1;
	  </script>
	  
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      <a class="navbar-brand mr-1" href="/homepage">CHP Incident Recording and Visualization</a>

    <!-- Account Control -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <ul class="navbar-nav ml-auto ml-md-0">
		<p style="color:white;">Logged in as: {{ session['username'] }}</p>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>
	</form>
    </nav>

    <div id="wrapper">




      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-fw fa-clipboard"></i>
              <span>Admin Tools</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <h6 class="dropdown-header">User Management</h6>
              <a class="dropdown-item" href="/usermgt">Add/Remove User</a>
              <a class="dropdown-item" href="/groupmgt">Manage Permissions</a>
              <a class="dropdown-item" href="/adminpass">Reset Password</a>
  
              <!--Database stuff-->
              <!--<div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Database Management</h6>
              <a class="dropdown-item" href="404.html">Add/Remove Fields</a> -->
  
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/recordupload">
            <i class="fas fa-fw fa-cloud-upload-alt"></i>
            <span>Record Upload</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datareport">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Data Report</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/charts">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="/homepage">Homepage</a>
          </ol>

          <!-- Page Content -->
		  <!-- Creating a new user -->
          <h1>CHP Admin User Management</h1>
          <hr>
		  {% with errors = get_flashed_messages(category_filter=['error']) %}
			{% for error in errors %}
			  <p style="color:red">{{ error }}</p>
            {% endfor %}
          {% endwith %}
		  {% with success = get_flashed_messages(category_filter=['success']) %}
			{% if success %}
			  <p style="color:green">{{ success[0] }}</p>
            {% endif %}
          {% endwith %}
          <h3>Create a new user:</h3>
		  
		  <form method="POST">
		    <div class="form-group">
			  <div class="form-row">
				<div class="col">
				  <label for="fName">User's First Name:</label>
				  {% if session['newUser'] %}
				  <input type="text" name="firstName" class="form-control" required="required" value = "{{ session.pop('newFirstName',None) }}">
				  {% else %}
				  <input type="text" name="firstName" class="form-control" required="required" placeholder = "First Name">
				  {% endif %}
				</div>
				<div class="col">
				  <label for="lName">User's Last Name:</label>
				  {% if session['newUser'] %}
				  <input type="text" name="lastName" class="form-control" required="required" value = "{{ session.pop('newLastName',None) }}">
				  {% else %}
				  <input type="text" name="lastName" class="form-control" required="required" placeholder = "Last Name">
				  {% endif %}
				  
				</div>
			  </div>
			</div>
			<label for="userName">User's Username:</label>
			{% if session['newUser'] %}
			<input type="text" name="username" class="form-control" required="required" value = "{{ session.pop('newUsername',None) }}">
			{% else %}
			<input type="text" name="username" class="form-control" required="required" placeholder = "Username">
			{% endif %}
			<!--{{ session.pop('newUser',None) }}-->
			
			<div class="form-group">
			  <div class="form-row">
				<div class="col">
				<label for="password">User's Password:</label>
				  <input type="password" name="password" class="form-control" id="password" required="required" placeholder="Password">
				</div>
				<div class="col">
				<label for="confirmPassword">Confirm Password:</label>
				  <input type="password" name="confPassword" class="form-control" id="confirmPassword" required="required" placeholder="Confirm Password">
				</div>
			  </div>
			
				<label for="userPermissions">User Permissions:</label>
				<select name="userType" class="form-control form-control-sm">
					<option>Select One:</option>
					<option value="Admin">Admin</option>
					<option value="Full User">Full User</option>
					<option value="Super Intern">Super Intern</option>
					<option value="Intern">Intern</option>
					<option value="View Only">View Only</option>
				</select>
			
			</div>
			
			<button type="submit" method="POST" class="btn btn-primary">Create</button>
			
		  </form>
		  
		  <br><br>
		  
		  <!-- Remove a user -->
		  <h3>Remove a user:</h3>
		  <div class="row justify-content-left">
            <div class="container">
                <table class="table table-hover">
                  <h2 style="text-align:center">Current Users</h1>
                  <thead>
                    <tr>
                      <th scope="col">Username</th>
                      <th scope="col">First Name</th>
					  <th scope="col">Last Name</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
					{% for item in data %}
					{% set user_loop = loop %}
                    <tr>
                      <td>{{item[1]}}</td>
                      <td>{{item[3]}}</td>
					  <td>{{item[4]}}</td>
					  <!-- Function passes the user's UID -->
                      <td><button href="#" class="btn btn-danger" name="removeUser" data-toggle="modal" data-target="#deleteUserModal" id="{{ item[0] }}" onclick="deleteUID = {{ item[0] }}">Remove</button></td>
					  <td><button href="#" class="btn btn-danger" type="button" data-toggle="modal" data-target="#changePermissionsModal">Change Permissions</button></td>
					  <td><button href="#" class="btn btn-danger" type="button" data-toggle="modal" data-target="#resetPasswordModal">Reset Password</button></td>
                    </tr>
					{% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © CHP 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/">Logout</a>
          </div>
        </div>
      </div>
    </div>
	
	<!-- Delete User Modal -->
	<div class="modal fade" id="deleteUserModal">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <!-- Modal Header -->
		  <div class="modal-header">
			<h4 class="modal-title">Are you sure you want to delete this user?</h4>
		  </div>
		  <!-- Modal footer -->
		  <div class="modal-footer">
			<button type="button" class="btn btn-success" class="close" id="confirmDeletion" type="submit" data-dismiss="modal" name="">Yes</button>
			<button type="button" class="btn btn-danger" class="close" id="rejectDeletion" data-dismiss="modal">No</button>
		  </div>
		</div>
	  </div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>
			/*$(function() {
			  $('a#deleteUser').bind('click', function() {
				$('#deleteUserModal').modal('hide')
				$.getJSON('/deleteUser/'+deleteUID,
					function(data) {
				});
				return false;
			  });
			});*/
			$(document).ready(function(){
				$("#confirmDeletion").on("click",function(){
					$('#deleteUserModal').modal('hide');
					window.location.href = '/deleteUser/'+deleteUID;                           
				})
			})
	</script>
	
	
   <!-- Reset Password Modal -->
	<div class="modal fade" id="resetPasswordModal">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <!-- Modal Header -->
		  <div class="modal-header">
			<h4 class="modal-title">Reset user's password</h4>
		  </div>
	        <!-- Form to reset password -->
			<div class="form-group">
			  <div class="form-row">
				<div class="col">
				<label for="password">User's New Password:</label>
				  <input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<div class="col">
				<label for="confirmPassword">Confirm Password:</label>
				  <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
				</div>
			  </div>
			</div>
		  <!-- Modal footer -->
		  <div class="modal-footer">
			<button type="button" class="btn btn-success" class="close" id="confirmPassword" data-dismiss="modal">Change Password</button>
			<button type="button" class="btn btn-danger" class="close" id="rejectPassword" data-dismiss="modal">Cancel</button>
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Change Permissions Modal -->
	<div class="modal fade" id="changePermissionsModal">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <!-- Modal Header -->
		  <div class="modal-header">
			<h4 class="modal-title">Select new user permissions</h4>
		  </div>
		    <!-- Form to select user's new permissions -->
			<label for="newUserPermissions">New User Permissions:</label>
			<select class="form-control form-control-sm">
				<option>Select One:</option>
				<option>Admin</option>
				<option>Full User</option>
				<option>Super Intern</option>
				<option>Intern</option>
			</select>
		  <!-- Modal footer -->
		  <div class="modal-footer">
			<button type="button" class="btn btn-success" class="close" id="confirmChange" data-dismiss="modal">Change user permissions</button>
			<button type="button" class="btn btn-danger" class="close" id="rejectChange" data-dismiss="modal">Cancel</button>
		  </div>
		</div>
	  </div>
	</div>
   
    <!--All JS Script files used-->
    <script type="text/javascript" src="{{ url_for('static',filename='vendors/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendors/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendors/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendors/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js') }}"> </script>

  </body>

</html>
